{% extends 'base.html' %}
{% block body %}
    
    <div class="container">
        <div class="text-center">
            <h2 class="display-4">Minhas Fichas</h2>
        </div>
        {% for f in request.user.fichas.all %}
            {% if forloop.first %}
                <div class="card-columns">
            {% endif %}
            <div class="card">
                <div class="card-header d-flex flex-row justify-content-between">
                        {% if f.get_content_type == "dnd" %}
                            D&D 5e
                        {% elif f.get_content_type == "coc" %}
                            <div>
                                <h5 class="card-title">Call of Cthulhu 7e</h5>
                            </div>
                            <div>
                                <i class="fab fa-octopus-deploy fa-lg"></i>
                            </div>
                        {% endif %}
                </div>
                <div class="card-body">
                    <p class="card-text">
                        {{ f.nome_personagem }}
                    </p>
                    <a href="{{ f.get_absolute_url }}">Ver</a>
                </div>
            </div>
            {% if forloop.last %}
                </div>
            {% endif %}
        {% empty %}
            Sem fichas
        {% endfor %}
    </div>
{% endblock body %}
    