<div class="d-flex flex-row justify-content-between mb-2">
    <h5 class="p-2">{{ symn }}</h5>
    <div class="d-flex flex-row">
        <div class="border">
            <p class="p-2 mb-0">{{ base_value }}</p>
        </div>
        <div class="d-flex flex-column">
            <div class="border">
                <small class="px-1">{{ value_div_2 }}</small>
            </div>
            <div class="border">
                <small class="px-1">{{ value_div_5 }}</small>
            </div>
        </div>
    </div>
</div>