<!DOCTYPE html>
<html lang="pt-BR" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% block js %}
    {% endblock js %}
    <title>RPGTracker</title>
</head>
<body class="d-flex flex-column h-100">
    <main role="main" class="flex-shrink-0">
        <nav class="navbar navbar-expand-sm navbar-light bg-light">
            <a class="navbar-brand" href="{% url 'core:home' %}">RPGTracker</a>
            <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">D&D 5e</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'dnd:racas_list' %}">Raças</a>
                                <a class="dropdown-item" href="{% url 'dnd:classes_list' %}">Classes</a>
                                <a class="dropdown-item" href="#">Antecedentes</a>
                                <a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Decks</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'dnd:gm_crit_deck' %}">Crit - GM</a>
                                    <a class="dropdown-item" href="{% url 'dnd:player_crit_deck' %}">Crit - Players</a>
                                    <a class="dropdown-item" href="{% url 'dnd:fail_deck' %}">Fail</a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'accounts:profile' %}" class="nav-link">Painel</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'core:logout' %}" class="nav-link">Sair</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a href="{% url 'core:login' %}" class="nav-link">Acessar</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% block body %}  
        {% endblock body %}
    </main>
    <footer class="footer mt-auto py-3 text-center">
        Developed by
        <a href="#">@MischievousG0d</a>
    </footer>
</body>
</html>