<!--<li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">D&D 5e</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Raças</a></li>
                        <li><a class="dropdown-item" href="#">Classes</a></li>
                        <li><a class="dropdown-item" href="#">Antecedentes</a></li>
                        <li class="dropdown-submenu"><a class="dropdown-item dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Decks</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Crit - GM</a></li>
                                <li><a class="dropdown-item" href="#">Crit - Players</a></li>
                                <li><a class="dropdown-item" href="#">Fail</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#" class="dropdown-item dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Armadilhas</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Lvl 1-4</a></li>
                                <li><a class="dropdown-item" href="#">Lvl 5-8</a></li>
                                <li><a class="dropdown-item" href="#">Lvl 9-12</a></li>
                                <li><a class="dropdown-item" href="#">Lvl 13-16</a></li>
                                <li><a class="dropdown-item" href="#">Lvl 17-20</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>-->
<nav class="navbar bg-dark navbar-expand-sm navbar-dark bg-light">
    <a class="navbar-brand" href="{% url 'core:home' %}">RPGTracker</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav w-100 d-flex flex-column flex-sm-row">
            {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CoC 7e</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'coc:skill_list' %}">Skills</a></li>
                        <li><a class="dropdown-item" href="{% url 'coc:ocupation_list' %}">Ocupations</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Harry Potter</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'hp:folio_universitas' %}" class="dropdown-item">Folio Universitas</a></li>
                    </ul>
                </li>
                <div id="profile" class="ml-0 ml-sm-auto">
                    <li class="nav-item">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-right">
                            {% if user.is_superuser %}
                                <li><a href="/admin" class="dropdown-item">Admin</a></li>
                            {% endif %}
                            <li>
                                <a href="{% url 'accounts:fichas' %}" class="dropdown-item">
                                    {% if user.is_superuser %}
                                        Todas as fichas
                                    {% else %}
                                        Minhas fichas
                                    {% endif %}
                                </a>
                            </li>
                            <li class="nav-item"><a href="{% url 'core:logout' %}" class="dropdown-item">Sair</a></li>
                        </ul>
                    </li>
                </div>
            {% else %}
                <li class="nav-item">
                    <a href="{% url 'core:login' %}" class="nav-link">Acessar</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>