{% extends 'base.html' %}

{% block body %}
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 text-center">
                <h4>{{ ficha.nome }}</h4>
            </div>
            <div class="col-md-6 ">
                <div class="row">
                    <div class="col-4">
                        <p class="lead mb-0">Classe</p>
                        {% for c in ficha.classes.all %}
                            {% if forloop.first %}
                                <p>
                            {% endif %}
                                {{ c.classe }} {{ c.level }}
                            {% if forloop.last %}
                                </p>
                            {% endif %}
                        {% empty %}
                            <p>N/A</p>
                        {% endfor %}
                    </div>
                    <div class="col-4">
                        <p class="lead mb-0">Antecedentes</p>
                        <p>N/A</p>
                    </div>
                    <div class="col-4">
                        <p class="lead mb-0">Nome do jogador</p>
                        <p>{{ ficha.jogador }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <p class="lead mb-0">Raça</p>
                        <p>{{ ficha.raca.nome }}</p>
                    </div>
                    <div class="col-4">
                        <p class="lead mb-0">Tendência</p>
                        <p>{{ ficha.alinhamento }}</p>
                    </div>
                    <div class="col-4">
                        <p class="lead mb-0">XP</p>
                        <p>{{ ficha.xp }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2 col-6 text-center">
                <h5>Força</h5>
                {{ ficha.str.value }} ({{ ficha.str.mod }})
            </div>
            <div class="col-md-2 col-6 text-center">
                <h5>Destreza</h5>
                {{ ficha.dex.value }} ({{ ficha.dex.mod }})
            </div>
            <div class="col-md-2 col-6 text-center">
                <h5>Constituição</h5>
                {{ ficha.con.value }} ({{ ficha.con.mod }})
            </div>
            <div class="col-md-2 col-6 text-center">
                <h5>Inteligência</h5>
                {{ ficha.int.value }} ({{ ficha.int.mod }})
            </div>
            <div class="col-md-2 col-6 text-center">
                <h5>Sabedoria</h5>
                {{ ficha.wis.value }} ({{ ficha.wis.mod }})
            </div>
            <div class="col-md-2 col-6 text-center">
                <h5>Carisma</h5>
                {{ ficha.cha.value }} ({{ ficha.cha.mod }})
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4 text-md-left text-center">
                <h2>Testes de resistência</h2>
                <div class="custom-control custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" name="str_per" 
                    {% if ficha.str.saving %}
                        checked
                    {% endif %}
                    > 
                    <label class="custom-control-label" for="str_per"><ins>{{ ficha.str.saving_value }}</ins> Força</label>
                </div>
                <div class="custom-control custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" name="dex_per"
                    {% if ficha.dex.saving %}
                        checked
                    {% endif %}
                    >
                    <label class="custom-control-label" for="dex_per"><ins>{{ ficha.dex.saving_value }}</ins> Destreza</label>
                </div>
                <div class="custom-control custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" name="con_per"
                    {% if ficha.con.saving %}
                        checked
                    {% endif %}
                    >
                    <label class="custom-control-label" for="con_per"><ins>{{ ficha.con.saving_value }}</ins> Constituição</label>
                </div>
                <div class="custom-control custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" name="int_per"
                    {% if ficha.int.saving %}
                        checked
                    {% endif %}
                    >
                    <label class="custom-control-label" for="int_per"><ins>{{ ficha.int.saving_value }}</ins> Inteligência</label>
                </div>
                <div class="custom-control custom-checkbox pb-2">
                    <input type="checkbox" class="custom-control-input" name="wis_per"
                    {% if ficha.wis.saving %}
                        checked
                    {% endif %}
                    >
                    <label class="custom-control-label" for="wis_per"><ins>{{ ficha.wis.saving_value }}</ins> Sabedoria</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" name="cha_per"
                    {% if ficha.cha.saving %}
                        checked
                    {% endif %}
                    >
                    <label class="custom-control-label" for="cha_per"><ins>{{ ficha.cha.saving_value }}</ins> Carisma</label>
                </div>
            </div>
            <div class="col-md-8 text-center text-md-left mt-md-0 mt-3">
                <h2>Perícias</h2>
                <div class="card-columns">
                    {% for s in ficha.skills %}
                        <div class="card bg-transparent border-0">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" name="per_{{ s.ident }}">
                                <label class="custom-control-label" for="per_acrobacia"><ins>{{ s.value }}</ins> {{ s.text }} <small class="text-muted">({{ s.use }})</small></label>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 text-center text-md-left mt-3">
                <h2>Idiomas e outras proficiências</h2>
                <p><strong>Idiomas: </strong>
                {% for i in ficha.raca.idiomas.all %}
                    {{ i }}{% if not forloop.last %},{% endif %}
                {% endfor %}</p>
                <p>+todo</p>
            </div>
            <div class="col-md-4 text-center text-md-left mt-3">
                <h2>Traços</h2>
                <div id="accordion">
                    {% for t in ficha.tracos.all %}
                        <div class="card">
                            <div class="card-header" id="H-{{ t.name_trim }}">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#B-{{ t.name_trim }}" aria-expanded="false" aria-controls="B-{{ t.name }}">
                                        {{ t.name }}
                                    </button>
                                </h5>
                            </div>
                        </div>
                        <div class="card">
                            <div id="B-{{ t.name_trim }}" class="collapse" aria-labelledby="H-{{ t.name_trim }}" data-parent="#accordion">
                                <div class="card-body">
                                    {{ t.description }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}